<!DOCTYPE html>
<html>
<head>
	<title>ProperyApp</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<form method="POST" enctype="multipart/form-data"> 
	    {% csrf_token %} 
	    {{ form.as_p }} 
	    <input type="submit" value="Submit">	     
	</form><br/>
	<a style="display: none" id="download_button_link" href="/app/download/32"><button>Download</button></a></p> 
</body>
</html>

<script type="text/javascript">
	const chatSocket = new WebSocket(
	    'ws://'
	    + window.location.host
	    + '/ws/download/'
	    + "excel"
	    + '/'
	);

	chatSocket.onmessage = function(e) {
	    // console.log(e.data);
	    const data = JSON.parse(e.data);
	    
	    $("#download_button_link").attr("href", "/app/download/"+data["message"][0]["db_id"]);
	    $("#download_button_link").show();
	};

	chatSocket.onclose = function(e) {
	    console.error('Chat socket closed unexpectedly');
	};
</script>